body {
	font-family: Arial;
	background-image: url(../afbeeldingen/bg.jpg);
	background-repeat: repeat;
	margin: 0px;	
}
h1{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	margin: 15px 10px 0px 10px;
}
.hyperlinks {
	margin: 10px 10px 0px 10px;
}
a{
	font-weight:bold;
	margin-right: 5px;
	text-decoration: none;
	color:black;
}

#sidebar_links ul li{
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 15px;
}

.shortcut_hyperlinks {
	float: right;
	margin-top: 40px;
	margin-right: 10px;

}
a:hover{
	color:red;
}
#sidebar_links ul{
	margin-top: 0px;
}
h2{
	background-color: black;
	color: white;
	padding: 5px;
	margin:0px;
	font-size: 20px;
}
#footer p{
	font-size: 15px;
	color: gray;
}